<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Swapi</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <!-- Encabezado -->
  <header>
    <nav>
      <div class="nav-wrapper navbar">
        <a href="https://fontmeme.com/es/fuente-de-star-wars/" class="brand-logo center"><img src="https://fontmeme.com/permalink/180214/355cb64eb65f6ed7b97c29bae21a5403.png" alt="fuente-de-star-wars" border="0"></a>
      </div>
    </nav>
  </header>
  <!-- Contenido Principal -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <a id="special-button" class="waves-effect waves-light btn-large">Ver personajes</a>
        </div>
      </div>
    </div>
    <div id="site-container">
      <div class="row">
        <ul id="response-container"></ul>
      </div>
    </div>
  </main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>