<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Swapi</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <!-- Encabezado -->
  <header>
    <nav>
      <div class="nav-wrapper navbar">
        <a href="https://fontmeme.com/es/fuente-de-star-wars/" class="brand-logo center"><img src="https://fontmeme.com/permalink/180214/355cb64eb65f6ed7b97c29bae21a5403.png" alt="fuente-de-star-wars" border="0"></a>
      </div>
    </nav>
  </header>
  <!-- Contenido Principal -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l12">
          <a id="special-button" class="waves-effect waves-light btn-large">Ver personajes</a>
          <!-- <a id="next-button" href="#" class="waves-effect waves-light btn-large">Next</a> -->
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6 l4">
            <div id="response-container">
              <a class="modal-trigger" href="#modal1"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div id="response-container">
              <a class="modal-trigger" href="#modal2"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div id="response-container">
              <a class="modal-trigger" href="#modal3"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal4"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal5"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal6"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal7"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal8"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal9"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col s12 m6 l4">
              <div id="response-container">
                <a class="modal-trigger" href="#modal10"><img class="responsive-img" src="../assets/images/starwars.jpg" alt="Imagen"></a>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
      <ul id="info-container"></ul>
    </div>
    <!-- Modales -->
    <div id="modal1" class="modal">
      <div class="modal-content">
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal3" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal4" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal5" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
    <div id="modal6" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal7" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal8" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal9" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    <div id="modal10" class="modal">
        <div class="modal-content">
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
    
  </main>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/index.js"></script>
</body>
</html>