/* Estilos generales*/
* {
  box-sizing: border-box;
}

body {
  background-image: url('../assets/images/background1.jpg');
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

.display-other-devices {
  display: block;
}

.display-tablet {
  display: none;
}

/* Estilos a la vista Register */

/* Estilos al navbar */
.navbar {
  background-color: #154360;
}

/* Estilos al h1 */
.title {
  color: white;
  font-size: 3rem;
}

/* Estilos a los elementos input y label del formulario */

.input-field label {
  color: #fff;
}

.input {
  color: white;
}

input[type=email]:not(.browser-default), input[type=password]:not(.browser-default) {
  border-bottom: 1px solid #fff;
}

/* Estilos al botón Ingresa */

.button {
  background-color: #154360;
  color: white;
  font-size: 700;
}

/* Estilos a la vista principal */

/* Estilos al contenedor */

.images-container {
  margin-top: 2em;
}

/* Estilos a los contenedores de los personajes */

.character-container {
  background-color: #fff;
  list-style: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

@media(min-width: 601px){
  .display-other-devices {
    display: none;
  }
  
  .display-tablet {
    display: block;
  }
}

@media(min-width: 993px) {
  .display-other-devices {
    display: block;
  }
  
  .display-tablet {
    display: none;
  }
}
