/* Estilos generales*/
* {
  box-sizing: border-box;
}

body {
  background-image: url('../assets/images/background1.jpg');
}

.container .row {
  margin-left: 0;
  margin-right: 0;
}

.margin-top-row {
  margin-top: 3em;
}

.display-other-devices {
  display: block;
}

.display-tablet {
  display: none;
}

/* Estilos a la vista Register */

/* Estilos al navbar */
.navbar {
  background-color: #154360;
}

/* Estilos al h1 */
.title {
  color: white;
  font-size: 3rem;
}

/* Estilos a los elementos input y label del formulario */

.input-field label {
  color: #fff;
}

.input {
  color: white;
}

input[type=email]:not(.browser-default), input[type=password]:not(.browser-default) {
  border-bottom: 1px solid #fff;
}

/* Estilos al botón Ingresa */

.button {
  background-color: #154360;
  color: white;
  font-size: 700;
}

/* Estilos a la vista principal */

/* Estilos a las imágenes */

.img-name {
  background-color: white;
  border-radius: 4px;
  font-size: 1.05em;
  font-weight: 500;
}

.container-image-modal {
  margin-top: 2em;
  margin-bottom: 2em;
}

.th-1 {
  background-color: #DFD9C4;
  border: 1px dashed #000;
}

.th-2 {
  font-weight: 400;
  border: 1px dashed #000;
}

.close-button {
  background-color: #DFD9C4;
  font-weight: 700; 
}

.close-button:hover, .close-button:active, .close-button:focus {
  color: #DFD9C4;
  background-color: #000;
  font-weight: 700; 
}

@media(min-width: 601px){
  .display-other-devices {
    display: none;
  }
  
  .display-tablet {
    display: block;
  }
}

@media(min-width: 993px) {
  .display-other-devices {
    display: block;
  }
  
  .display-tablet {
    display: none;
  }
}
